# Generating Distributions

Decoy can utilize both [Numpy Random](https://numpy.org/doc/stable/reference/random/legacy.html) and [Python's Random] (https://python.readthedocs.io/en/stable/library/random.html) to generate distributions of data.

This notebook is there to help showcase the different ways you could use distributions in your synthetic data.

In [8]:
SELECT
    range as id,
    random_gauss(5, 1.2) as random_gauss, 
    numpy_poisson(6.7) as numpy_poisson,
    numpy_normal(0,1) as numpy_normal
FROM range(10)

   id  random_gauss  numpy_poisson  numpy_normal
0   0      4.307148            4.0     -0.914836
1   1      5.130465            7.0     -0.717273
2   2      4.539571            5.0     -0.618916
3   3      4.303142            7.0      0.311853
4   4      4.587963           15.0     -0.903483
5   5      5.077017            8.0      0.717890
6   6      4.494637            9.0      0.173399
7   7      5.272305            6.0     -0.473991
8   8      5.036845            9.0     -1.048386
9   9      6.455058            6.0     -0.828896

You can also use these distributions in other calculations too ...

In [12]:
SELECT
    range as id,
    random_gauss(5, 1.2)*5 as random_gauss_x5, 
    numpy_poisson(6.7) * numpy_standard_normal() as numpy_poisson_x_std_normal,
    numpy_normal(0,1) * random_randint(0,50) as numpy_normal
FROM range(10)

   id  random_gauss_x5  numpy_poisson_x_std_normal  numpy_normal
0   0        35.408661                   -3.655746      3.555426
1   1        19.247339                    6.736702     29.089499
2   2        18.206148                   -2.481648      1.090518
3   3        38.412727                   -8.012063    -45.437889
4   4        33.420990                   -3.345321      4.389662
5   5        21.434534                    4.283082    -11.484120
6   6        19.941145                    5.595091     -4.075589
7   7        34.654106                   -1.050781     -0.442303
8   8        22.642572                   -1.052416    -41.957298
9   9        19.794325                    0.670542     -9.704413

## Distributions that take arrays

some of the Numpy functions take and output arrays. And although Python doesn't care about variable length arrays, SQL does. 

To get around this you need to give the decoy function a string with values separated by commas.

In [1]:
SELECT
    range as id,
    numpy_choice('c1, c2, c3', '0.3, 0.3, 0.4') as numpy_choice,
    numpy_dirichlet('1,2') as numpy_dirichlet,
FROM range(10)

   id numpy_choice                         numpy_dirichlet
0   0           c1   0.1849924357291828,0.8150075642708172
1   1           c3   0.2957706377084267,0.7042293622915733
2   2           c1  0.5038436868571092,0.49615631314289077
3   3           c3    0.641139045220386,0.3588609547796141
4   4           c1   0.1749452122780002,0.8250547877219998
5   5           c2   0.4113756353418016,0.5886243646581985
6   6           c3   0.2466247791350255,0.7533752208649743
7   7           c1   0.8501619243754921,0.1498380756245079
8   8           c3  0.13623379909693448,0.8637662009030654
9   9           c2     0.281015661911231,0.718984338088769