# Integrating Decoy and Pandas

Pandas is a well-utilized data manipulation tool used heavily in data science applications.

Pandas also contains powerful data manipulation tools, providing additional functionality which would be difficult with SQL.

In [1]:
import pandas as pd

# create a database connection that can be accessed in Python
from decoy.database import get_connection 
con = get_connection()

In [5]:
fake_names = con.sql('select faker_name() from range(15);').fetchdf()

#in Jupyter you can easily display data by just calling it - as long as it's the last thing you do in a cell.
fake_names

           faker_name()
0   Ryan Smith-Williams
1          Tom Williams
2        Dr Conor Grant
3            Dawn Berry
4      Mr Charlie Smith
5       Jennifer Walker
6          Raymond Mann
7            Hugh Green
8           Sally Evans
9        Katie Fletcher
10    Adam Reid-Jackson
11         Lesley Scott
12          Janet Kelly
13      Heather Bradley
14     Lawrence Harding

This will create a table in DuckDB called fake_names, which you can call with further decoy fuctions

In [6]:
con.sql('select * from fake_names')

┌─────────────────────┐
│    faker_name()     │
│       varchar       │
├─────────────────────┤
│ Ryan Smith-Williams │
│ Tom Williams        │
│ Dr Conor Grant      │
│ Dawn Berry          │
│ Mr Charlie Smith    │
│ Jennifer Walker     │
│ Raymond Mann        │
│ Hugh Green          │
│ Sally Evans         │
│ Katie Fletcher      │
│ Adam Reid-Jackson   │
│ Lesley Scott        │
│ Janet Kelly         │
│ Heather Bradley     │
│ Lawrence Harding    │
├─────────────────────┤
│       15 rows       │
└─────────────────────┘

this allows you to create synthetic data in a more pythonic way.

Now let's show some basic data manipulation in pandas

In [18]:
fake_names['first_letter'] = fake_names['faker_name()'].str[0]
fake_names

           faker_name() first_letter
0   Ryan Smith-Williams            R
1          Tom Williams            T
2        Dr Conor Grant            D
3            Dawn Berry            D
4      Mr Charlie Smith            M
5       Jennifer Walker            J
6          Raymond Mann            R
7            Hugh Green            H
8           Sally Evans            S
9        Katie Fletcher            K
10    Adam Reid-Jackson            A
11         Lesley Scott            L
12          Janet Kelly            J
13      Heather Bradley            H
14     Lawrence Harding            L

In [17]:
con.sql('select * from fake_names')

┌─────────────────────┬──────────────┐
│    faker_name()     │ first_letter │
│       varchar       │   varchar    │
├─────────────────────┼──────────────┤
│ Ryan Smith-Williams │ R            │
│ Tom Williams        │ T            │
│ Dr Conor Grant      │ D            │
│ Dawn Berry          │ D            │
│ Mr Charlie Smith    │ M            │
│ Jennifer Walker     │ J            │
│ Raymond Mann        │ R            │
│ Hugh Green          │ H            │
│ Sally Evans         │ S            │
│ Katie Fletcher      │ K            │
│ Adam Reid-Jackson   │ A            │
│ Lesley Scott        │ L            │
│ Janet Kelly         │ J            │
│ Heather Bradley     │ H            │
│ Lawrence Harding    │ L            │
├─────────────────────┴──────────────┤
│ 15 rows                  2 columns │
└────────────────────────────────────┘

The table automatically updates in DuckDB